/* 
  TABLET 
*/

@media screen and (max-width: 900px){

  /* Common  */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .row{
    width: 100%;
    margin-top: 0;
    padding: 10px;
  }

  h1, h3{
    margin: 0;
  }

  img{
    height: 25vw;
    margin-top: 20px;
  }
  /* /Common  */



  /* Lezioni  */
  #lezioni .row{
    background-color: #d4e8f0;
  }

  #lezioni .row>.left,
  #lezioni .row>.right{
    width: 50%;
    float: left;
    padding: 20px;
  }
  /* /Lezioni  */



  /* Steps  */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right{
    width: 50%;
  }

  #steps .row>.right{
    width: 100%;
  }
  /* /Steps  */



  /* Why */
  #why .row{
    background-color: #d4e8f0;
  }
  /* /Why */

}




/* 
  MOBILE 
*/

@media screen and (max-width: 419px){

  /* Lezioni  */
  #lezioni .row{
    background-color: #F2F2CD;
  }

  #lezioni .row>.left,
  #lezioni .row>.right{
    width: 100%;
    float: none;
  }
  /* /Lezioni  */



  /* Steps  */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right{
    width: 100%;
    float: none;
  }
  /* /Steps  */



  /* Why */
  #why .row{
    background-color: #F2F2CD;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third{
    width: 100%;
    margin-top: 0;
  }
  /* /Why */
}



